<!DOCTYPE html>
<html>
<body>
<head> <link rel="stylesheet" href="styles.css"> </head>
<!-- Insert your title below-->
<h1>Title of Page goes here</h1>

<!-- Place your Logo below-->

<img src="Filename of goes here" alt="Name of Picture goes here" width="104" height="142">


<!-- We have started a orderlist for the links-->
<ol>
<!-- Link to page one goes here-->
  <li><a href="Place link here for page 1">Page 1</a></li>
  
<!-- Link to page two goes here-->
 <li><a href="Place link here for page 1">Page 2</a></li>
 
<!-- Link to page three goes here-->
 <li><a href="Place link here for page 1">Page 3</a></li>
 
<!-- Link to page four goes here-->
 <li><a href="Place link here for page 1">Page 4</a></li>
 
<!-- Link to page five goes here-->
 <li><a href="Place link here for page 1">Page 5</a></li>
 
<!-- Link to page six goes here-->
 <li><a href="Place link here for page 1">Page 6</a></li>
 
<!-- Link to page seven goes here-->
 <li><a href="Place link here for page 1">Page 7</a></li>
 
<!-- Link to page eight goes here--> 
 <li><a href="Place link here for page 1">Page 8</a></li>
</ol> 

<!-- Write a small paragraph detailing the page--> 
<p>This is a paragraph.</p>

<p id="dateandtime"></p>

<script>
const d = new Date();
document.getElementById("dateandtime").innerHTML = d;
</script>



</body>
</html>

