body{
    background-color: darkgrey;
    font-style: Helvetica;
    font-size: 12px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

ul{
    background: gray;
    padding: 20px;
}

ol li {
    background: gray;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: gray;
    margin: 5px;
}