/* Style the body */
body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
    background-color: #FFF; /*background colour = white */
  }
/* Style the header */

/* Slideshow container */

/* Style the main content */

/* Style the testimonial */

/* Style the footer */
